body {
    
    color: black;
    background-color: grey;
    text-align: center;
  }
  
  button {
    background-color: rgb(112, 173, 216);
    font-size: large;
    font-weight: bold;
    padding: 8px 8px;
    border-radius: 5px;
  }

  #heading {
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
  }

  #skin{
    padding: 11px 11px;
    border-radius: 4px;
    font-size: large;
    font-family: 'Press Start 2P', cursive;
    margin-top: auto;
  }